<?xml version="1.0"?>
<phpunit 
    colors="true" 
    convertErrorsToExceptions="true" 
    convertNoticesToExceptions="true" 
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="gin0115_wp_acoper_core">
            <directory prefix="Test" suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
             <exclude>
             </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="memory_limit" value="512M" />
    </php>

    <logging>
        <log type="coverage-clover" target="clover.xml" />
    </logging>
</phpunit>